<div style="max-height: 400px;min-height: 300px;overflow: auto;">
<table class="table table-bordered">

    <thead>
        <tr>
            <th>
                Şəkil
            </th>
            <th>
                Ad
            </th>
            <th>
                Qiymət
            </th>
            <th>
                Miqdar
            </th>
            <th>
                Cəm
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oP of bS.orderProducts;let counter=index;">
            <td>
                <img class="product-image" [src]="download+oP.product.image" />
            </td>
            <td>
                {{oP.product.name}}
            </td>
            <td>
                {{oP.product.price | currency:'USD'}}
            </td>
            <td>
            <input type="number" [(ngModel)]="oP.count" (input)="onProductCountChanged()"/>
            
            </td>
            <td>
                {{ (oP.product.price*oP.count) | currency:'USD' }}
            </td>
            <td>
            <button (click)="onDeleteProduct(counter)" class="btn btn-danger">
                X
            </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<span>
    Ümumi Qiymət : {{ totalPrice  | currency:'USD' }}
</span>
<button mat-dialog-close *ngIf="totalPrice!==0" (click)="ondOrderConfirm()" class="btn btn-succes">Sifarişi Bitir</button>