<table>
    <tbody>

        <tr>
            <td>Username : </td>
            <td> <input type="text" [(ngModel)]="username" placeholder="type username here"></td>
        </tr>

        <tr>
            <td>Password : </td>
            <td> <input type="text" [(ngModel)]="password" placeholder="type password here"></td>
        </tr>

        <tr>
            <td> </td>
            <td>
                <button (click)="loginButtonPressed()">Login</button></td>
        </tr>



    </tbody>
 
</table>

