<h1>Add Todo</h1>
<form (ngSubmit)="onSaveTodo">
<table class="table">



    <tbody>
        <tr>
            
            <td>Task: </td>
            <td><input [(ngModel)]="todo.task" name="task" required/></td>
        </tr>
        
        <tr>
            <td>Day: </td>
            <td><input type="number" [(ngModel)]="todo.day" name="day"/></td>
        </tr>
        
        <tr>
            <td>Register: </td>
            <td><input type="date" [(ngModel)]="todo.register" name="register"/></td>
        </tr>
        
        <tr>
            <td>Category: </td>
            <td>
                <select [(ngModel)]="todo.category.id" name="category">
                    <option value="1" *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                   

                </select>
            </td>
        </tr>
        
        <tr>
            <td><button class="btn btn-success" type="submit">Save</button></td>
        </tr>
        

    </tbody>


</table>
</form>