

<div class="container">
    <h1 class="h1 text-success"> Yeni Istifadəçi </h1>
    <hr>

    <form (ngSubmit)="!signupForm.invalid && onSignup()" #signupForm="ngForm">

      <div class="form-group">
        <label for="username">Istifadeci adi:</label>
        <input type="text" class="form-control" id="username" placeholder="Istifadeci adi" name="username" required minlength="2" maxlength="20" [{ngModel}]="user.username">
      </div>
      <div class="form-group">
        <label for="pwd">Şifrə:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Sifre" name="password"required minlength="2" maxlength="20" [{ngModel}]="user.password">
      </div>
     
      <button type="submit" class="btn btn-primary">Qeydiyyatdan keç</button>
    </form>
  </div>
  