<div class="main-container">

    <div *ngFor="let p of products" class="product-template">

        <div class="product">
  <img [src]="download+p.image" class="product-image"/>
<span>{{p.name}}</span>
<span>{{p.price | currency:'USD'}}</span>
<button class="btn btn-primary" (click)="onToBasket(p)">
    Sebete
</button>


        </div>




    </div>



</div>
<hr>
<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"
>
</div>
<button (click)="onOpenBasket()" class="btn btn-primary basket-button">
sebet
</button>